
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHijoLabel" data-translate="meetupApp.hijo.home.createOrEditLabel">Create or edit a Hijo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.hijo.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.hijo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meetupApp.hijo.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.hijo.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="meetupApp.hijo.apellidos" for="field_apellidos">Apellidos</label>
            <input type="text" class="form-control" name="apellidos" id="field_apellidos"
                    ng-model="vm.hijo.apellidos"
                     />
        </div>

        <div class="form-group">
            <label data-translate="meetupApp.hijo.padre" for="field_padre">Padre</label>
            <select class="form-control" id="field_padre" name="padre" ng-model="vm.hijo.padreId" ng-options="padre.id as padre.id for padre in vm.padres"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
